{{define "GameEnd"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/style.css">
    <title>Puissance 4 - Fin de partie</title>
</head>
<body>
    <header>
        <h1>Puissance4 Web - Fin de partie</h1>
    </header>
    <main>
        <section class="game-end-section">
            <h2>La partie est terminée !</h2>
            {{if .Winner}}
                <p>Félicitations au joueur {{.Winner}} pour sa victoire !</p>
            {{else}}
                <p>La partie s'est terminée par une égalité !</p>
            {{end}}
            <a href="/game/init" class="start-btn">Recommencer une partie</a>
            <a href="/" class="home-btn">Retour à l'accueil</a>
        </section>
    </main>
</body>
</html>
{{end}}
