{{define "GamePlay"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/game.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Template test</h1>
        <p>Tour: {{.Tour}}</p>
        <p>Joueur1: {{.Joueur1}}</p>
        <p>Joueur2: {{.Joueur2}}</p>
    </header>

    <div class="grille">
    {{range .Grille}}
    <div class="ligne">
        {{range .}}
        <div class="cellule {{if eq . "R"}}rouge{{else if eq . "J"}}jaune{{end}}"></div>
        {{end}}
    </div>
    {{end}}
</div>
</body>
</html>
{{end}}