{{define "GamePlay"}}
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/css/style.css">
    <title>Puissance 4 - Jeu</title>
</head>
<body>
    <header>
        <h1>Puissance4 Web - Jeu</h1>
    </header>
 
    <section class="board-section">
    <table class ="Puissance4">
      <caption class="hidden">Grille de jeu Puissance 4</caption>
       {{/* On suppose que .Grid comme slice de lignes, chaque ligne slice des colonnes */}}
       {{range $r := .Grid}}
         <tr>
              {{range $c := $r}}
                 <td class="cell token-{{$c}}">
                    {{if eq $c 1}}
                      <span class="token red" aria-label="Jeton rouge"></span>
                    {{else if eq $c 2}}
                      <span class="token yellow" aria-label="Jeton jaune"></span>
                    {{else}}
                      <span class="token empty" aria-label="Case vide"></span>
                    {{end}}
                    </td>
                {{end}}
            </tr>
        {{end}}
    </table>
 </section>
</body>
</html>
{{end}}